<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <processors>
          <uiReturnFieldEditorValues>
              <processor mode="on" type="Sitecore.Support.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues"
                         patch:instead="*[@type='Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues']"/>
          </uiReturnFieldEditorValues>
      </processors> 
  </sitecore>
</configuration>