<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <processors>
          <uiReturnFieldEditorValues>
              <processor mode="on" type="Sitecore.Support.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues"
                         patch:instead="*[@type='Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues']"/>
          </uiReturnFieldEditorValues>
      </processors>
      <pipelines>
          <mvc.buildPageDefinition>
              <processor type="Sitecore.Support.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Support.414532"
                 patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"/>
          </mvc.buildPageDefinition>
      </pipelines>
      <events>
          <event name="item:saved">
              <handler type="Sitecore.Support.ClearRenderingParametersCache, Sitecore.Support.414532" method="ClearOnStandardValuesItemSaved"/>
          </event>
      </events>
  </sitecore>
</configuration>